/aclocal.m4
/autom4te.cache
/configure
/install-sh
/missing
/py-compile
/Makefile.in
/src/Makefile.in
/Makefile
/src/Makefile
/config.log
/config.status
*.o
/src/pscmp/Makefile
/src/pscmp/Makefile.in
/src/pscmp/fomosto_pscmp2008a
/src/psgrn/Makefile
/src/psgrn/Makefile.in
/src/psgrn/fomosto_psgrn2008a
